<h1>Edit Discussions</h1>

<% if @discussion.errors.any? %>
  <ul>
    <% @discussion.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for [@project, @discussion] do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <br>
  
<%= f.submit %>
<% end %>
<!-- Delete button needs to be outside the form. -->
<%= button_to "Delete", @project_discussion_path, method: :delete, data: {confirm: "Are you sure?"} %>
