  <h2>Discussion</h2>
    <p><strong><%= @discussion.title %></strong></p>
    <p><%= @discussion.description %></p>
    <%= link_to "Edit", edit_discussion_path, class: "btn btn-default" %> 
    <%= link_to "Delete", discussion_path, data: {confirm: "Are you sure"}, method: :delete, class: "btn btn-sm btn-danger" %>
  <hr>
  <%= render "layouts/comment" %>
  <hr>
    <% @discussion.comments.each do |comment| %>
      <h2>Comments</h2>
      <%= comment.body %>
      <%= link_to "Edit", edit_discussion_comment_path(@discussion, comment), class: "btn btn-default" %> 
      <%= link_to "Delete", discussion_comment_path(@discussion, comment), data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-sm btn-danger" %>
  <% end %>
