<h1>Edit Tasks</h1>

<% if @task.errors.any? %>
  <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for [@project, @task] do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :due_date %>
    <%= f.datetime_select :due_date, class: "form-control" %>
  </div>
  <br>
  
<%= f.submit %>
<% end %>
<!-- Delete button needs to be outside the form. -->
<%= button_to "Delete", @project_task_path, method: :delete, data: {confirm: "Are you sure?"} %>
